@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>WK Technology <a href="https://wktechnology.com.br/">Saiba mais</a>.</p>
    
     <form action="https://api.whatsapp.com/send/?phone=554830121055&text&type=phone_number&app_absent=0">
        <button type="button" class="btn btn-success">ENTRAR EM CONTATO</button>
      </form>
</div>
