@model WKTechnology.Models.Products

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ncm" class="control-label"></label>
                <input asp-for="Ncm" class="form-control" />
                <span asp-validation-for="Ncm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceCost" class="control-label"></label>
                <input asp-for="PriceCost" class="form-control" />
                <span asp-validation-for="PriceCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceSale" class="control-label"></label>
                <input asp-for="PriceSale" class="form-control" />
                <span asp-validation-for="PriceSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaNavigation.NameCategory" class="control-label"></label>
               @* <input asp-for="CategoriaNavigation.NameCategory" class="form-control" />*@
                <select asp-for="IdCategory" class="form-control" asp-items="ViewBag.List">Teste</select>
@*                <span asp-validation-for="CategoriaNavigation.NameCategory" class="text-danger"></span>
*@            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
